.App {
  width: min(100%, 900px);
  margin: 40px auto;
}

button {
  margin-top: 0.5rem;
  padding: 6px 12px;
  background: none;
  border: 2px solid hsl(0 0% 100%);
  border-radius: 4px;
  color: hsl(0 0% 100%);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: hsl(29, 56%, 44%);
}

.card-grid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, minmax(100px, 1fr));
  gap: 1rem;
  margin: 2rem auto;
}
